ament_copyright==0.12.11
ament_flake8==0.12.11
ament_pep257==0.12.11
cv_bridge==3.2.1
geometry_msgs==4.2.4
groq==0.15.0
langchain==0.3.16
langchain_community==0.3.16
langchain_core==0.3.32
langchain_groq==0.2.3
langchain_openai==0.3.2
launch_ros==0.19.7
numpy==1.21.5
paramiko==2.9.3
pydantic==2.10.6
pytest==6.2.5
qi==3.1.5
rclpy==3.3.14
Requests==2.32.3
sensor_msgs==4.2.4
setuptools==58.2.0
setuptools==59.6.0
std_msgs==4.2.4
